{% extends "base.html" %}
{% load cart_tag %}
{% block web-title %} 我的購物車 {% endblock %}
{% block title %} 我的購物車 {% endblock %}
{% block content %}


購物車商品數量： {{request.session.cart|length}}
<br>
購物車明細：
<table class="table table-striped">
    <tr><th>商品名稱</th><th>單價</th><th>數量</th><th>小計</th></tr>
    {% for key,value in request.session.cart.items %}
        <tr>
            <td> <a href="{{ value.image }}">{{ value.name }}</a> </td>
            <td> {{ value.price }} </td>
            <td> 
                {{ value.quantity }}
                <a class="btn btn-sm btn-outline-info" href="/cart/increment/{{ value.product_id }}/">+</a>
                <a class="btn btn-sm btn-outline-info" href="/cart/decrement/{{ value.product_id }}/">-</a>
                <a class="btn btn-sm btn-outline-info" href="/cart/remove/{{ value.product_id }}/">x</a>
            </td>
            <td> {{ value.price|multiply:value.quantity }} </td>
        </tr>
    {% empty %}
        <tr><td colspan=4>您的購物車中沒有商品</td></tr>
    {% endfor %}
</table>
總價：{{ total }} 元<br>
{% if total %}
<a href="/order/" class="btn btn-primary btn-sm">送出訂單</a>
{% endif %} 
<a href="/cart/clear/" class="btn btn-warning btn-sm">清空購物車</a>
{% endblock %}